.addRecipeBtnEntities {
  display: flex;
  width: 480px;
  height: 56px;
  padding: 8px 127px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: var(--Primary, #ffa500);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ffa500;
}

.addRecipeBtnEntities:hover {
  background: var(--PrimaryHover, #fff);
  color: #ffa500;
  transition: 250ms;
}

.addRecipeModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 28px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.addRecipeModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
