@import "../../shared/variables.scss";
$homeOn: url(./assets/homeOn.svg);

.dashboard {
  background: $trans;
  box-shadow: 6px 4px 11px 0px rgba(0, 0, 0, 0.25);
  min-height: 800px;
  width: 96px;

  &__container {
    height: 100vh;
    padding: 27px 20px;
    position: fixed;
  }

  &__container-none {
    height: 100vh;
    padding: 27px 20px;
    position: fixed;
  }

  &__line {
    border-bottom: 1px solid black;
    margin: 20px 0;
  }

  &__logo {
    display: flex;
    justify-content: center;

    > img {
      width: 110%;
    }
  }

  .active {
    background-color: $orange;
  }

  .home:hover {
    background-image: $homeOn;
  }

  &__btn:hover {
    background-color: $orange;
    transition: 250ms;
  }

  &__btn {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    background-color: $white;

    > img {
      width: 100%;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__bottom {
    margin-top: 38vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 463px) {
  .dashboard {
    display: flex;
    width: 50px;

    &__container {
      padding: 9px 5px 5px 10px;
    }

    &__btn {
      padding: 5px;
      width: 30px;
      gap: 0;
      > img {
        width: 20px;
      }
    }

    &__logo {
      > img {
        width: 30px;
      }
    }

    &__top {
      gap: 9px;
    }

    &__bottom {
      margin-top: 20px;
    }
  }
}
