@import "../../../shared/variables.scss";

.verificationEntities {
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 30px;

  &__text {
    display: flex;
    flex-direction: column;

    &--firstLine {
      color: $white;
      font-size: 40px;
      font-weight: 300;
    }

    @media screen and (max-width: 615px) {
      &--firstLine {
        font-size: 30px;
      }
    }

    @media screen and (max-width: 615px) {
      &--firstLine {
        font-size: 25px;
      }
    }
  }
}
