$orange: #fa9e31;
$beige: #fff6de;
$text: #343434;
$TFaded: #666666;
$trans: #ededed;
$white: #fafafa;

$radius: 42px;
$border: 1px solid rgba(0, 0, 0, 0.2);
$border-light: 1px solid #666;
$shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
$card-shadow: 0px 10px 20px rgba(199, 199, 199, 0.6);
