@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

button {
  cursor: pointer;
  border: none;
}

.app__layout-none {
  display: grid;
  grid-template-columns: 6% 94%;
}

.app__layout {
  display: grid;
  grid-template-columns: 100px 91.5%;
  &_wrapper {
    display: flex;
    flex-direction: column;
  }
  &_content {
    padding: 20px 20px 0px 20px;
  }
}

@media screen and (max-width: 1277px) {
  .app__layout {
    grid-template-columns: 100px 90.5%;
  }
}

@media screen and (max-width: 1100px) {
  .app__layout {
    grid-template-columns: 100px 89.5%;
  }
}

@media screen and (max-width: 960px) {
  .app__layout {
    grid-template-columns: 100px 88.5%;
  }
}

@media screen and (max-width: 463px) {
  .app__layout {
    grid-template-columns: 30px 88.5%;
  }
}
