@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

button {
  cursor: pointer;
  border: none;
}

.app__layout-none {
  display: grid;
  grid-template-columns: 6% 94%;
}

.app__layout {
  display: grid;
  grid-template-columns: 19.5% 80.5%;
  &_wrapper {
    display: flex;
    flex-direction: column;
  }
  &_content {
    padding: 40px 50px 40px 30px;
  }
}
